html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;   //dělá to že jsou řádky za sebou
    flex-direction: column; //toto dělá pod sebou




    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: bisque;
    color: blueviolet;
}

.jumbotron {
    font-size: 72px;
}
